@import url('https://fonts.googleapis.com/css?family=Jost&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(0deg, #e3e4f2 0%, #fbe9e9 100%);
}

section {
    margin: 0;
    padding: 0;
}

.logo {
    width: 70px;
}
.list-group{
    list-style: none;
}
.list-group-item a{
    text-decoration: none;
    color: black;
}
.col-lg-2{
    background-color: white;
}

.footer{
    margin-top: 30px;
    background: rgb(240, 239, 239);
}
.contact{
    list-style:none;
    text-align: left;
}

.list-group>a:hover{
        color: #cfbeef;
}